.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    margin: 150px 25px;
  }

#slideMenu {
  z-index: 1;
  position: fixed;
  top: 100px;
  width: 0;
  height: 30rem;
  background-color: black;
  color: white;
  transition: 0.5s;
}

#slideMenu.visible {
  transition: 0.5s;
  width: 20rem;
}