.day {
  display: flex;
  flex-direction: column;
  padding: 75px;
  text-align: center;
  border: 1px solid black;
}

.day:hover {
  box-shadow: 5px 4px 5px 4px black;
}

.day.no-access {
  box-shadow: none;
  background-color: lightgrey;
}

.today {
  background-color: lightpink;
}
