header {
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: aquamarine;

    span a {
        float: left;
        text-decoration: none;
        font-size: large;
        padding: 35px 80px 40px;
    }

    span a:hover{
        font-size: larger;
    }
}
