.writer {
    position: relative;
}

.writerInputForm {
    width: 50rem;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    //background-color: #eee;
    outline: none;
}

#titleField {
    height: 4rem;
    font-size: 48px;
}

#contentField {
    height: 60rem;
    font-size: 32px;
}

#writerForm {
    top: 120px;
    position: relative;
}

#publishBtn {
    margin: 20px;
    padding: 5px 30px;
}

